<h1>New Game:</h1>



<div class="conteiner">
<% @letters.each do |letter| %>
  <div class="letters"><%= letter %></div>
<% end %>
</div>

<h2>What's the longest word you can find?</h2>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input id="collected_input" name="collected_input" onchange="alert('Input collected!')"
  type="hidden" value="" />
  <input type="text" name="word" placeholder="your word">
  <input type="submit" value="Play!">
</form>


